
/* 
    Created on : Nov 26, 2014, 11:18:48 PM
    Author     : GuiGui
*/

#TopButtons {
    -fx-font-family: "Arial Narrow";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
